/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.my-btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.addBtn {
  background: green;
}

.minusBtn {
  background: red;
}

.resetBtn{
  background: blue;
}
.my-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card {
  border: 2px solid gold;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}